.campaigns {
  padding: 50px 0;
}

.campaigns h2 {
  font-size: 2.25rem;
  line-height: 60px;
  margin-bottom: 25px;
}

.campaigns > .heading-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.campaigns .campaigns-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}