nav {
  padding: 25px 0;
}

.navigations-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigations > ul {
  display: flex;
}

.navigations li {
  margin-right: 30px;
  position: relative;
}

.navigations li::before {
  transition: 300ms;
  height: 1.6px;
  content: "";
  position: absolute;
  background-color: var(--primary-color);
}

.nav-link-ltr::before {
  width: 0%;
  bottom: -5px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.navigations img {
  margin-right: 32px;
}

.navigations a {
  color: #424242;
}




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .navigations li {
    margin-right: 10px;
  }
  .navigations li:first-child {
    margin-left: 10px;
  }
  .navigations img {
    margin-right: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

  .overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 6;
  }

  /* burger menu */

  .line {
    width: 30px;
    height: 5px;
    background-color: rgb(39, 100, 107);
    display: block;
    margin: 4px auto;
    z-index: 8;
    position: relative;
    transition: all 0.3s ease-in-out;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .hamburger.is-active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.is-active .line:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
  }

  .hamburger.is-active .line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
  }

  /* burger menu end */

  .navigations ul {
    display: flex;
    height: 50%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    font-size: 3vw;
  }

  .navigations a {
    margin-bottom: 30px;
  }

  .navigations li:first-child {
    margin-left: 0;
  }

  .navigations {
    width: 0;
    height: 100vw;
    z-index: 7;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -500px;
    top: 0;
    background-color: #93f2fb;
    justify-content: flex-start;
  }
  .hamburger-active {
    width: 50vw;
    right: 0;
    transition: all 0.4s ease;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 350px) {
}
