nav {
  padding: 25px 0;
}

.navigations-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigations > ul {
  display: flex;
}

.navigations li {
  margin-right: 30px;
  position: relative;
}

.navigations li::before {
  transition: 300ms;
  height: 1.6px;
  content: "";
  position: absolute;
  background-color: var(--primary-color);
}

.nav-link-ltr::before {
  width: 0%;
  bottom: -5px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.navigations img {
  margin-right: 32px;
}

.navigations a {
  color: #424242;
}

.burger {
  display: none;
}

.burger > div {
  width: 30px;
  height: 2px;
  background-color: rgb(39, 100, 107);
  margin: 6px 0;
}

@media only screen and (max-width: 350px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .navigations {
    display: none;
  }
  .burger {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  nav {
    padding: 20px 3%;
  }
}
