.our-values {
  height: 354px;
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
}

.our-values-box {
  display: flex;
  justify-content: space-between;
}

.our-values h2 {
  font-size: 2.25rem;
}