.our-values {
  height: 354px;
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.our-values-box {
  display: flex;
  justify-content: space-between;
}

.our-values h2 {
  font-size: 2.25rem;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 350px) {
}