* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  /* variables */
  --primary-color: #00a5b4;
  --secondary-color: #cefbff;
  --white: #ffffff;
  --grey-1: #bdbdbd;
  --grey-2: #616161;
  --grey-3: #424242;
  --grey-4: #212121;
}